.testPage {
  background: #DDF;
}

.resultsPage {
  background: #CFC;
}

.studentBlock {
  float: right;
  white-space: nowrap;
  padding: 20px;
  border: 1px solid #888;
  background: #FFFFFF;
  position: relative;
}

.questionsAndAnswers {
  &:before {
    content:"";
    display: table;
    clear: both;
  }
}

.questionAndAnswer {
  position: relative;
  border: 1px solid #888;
  padding: 20px;
}

.isCorrect {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
}

.questionAndAnswer + .questionAndAnswer {
  margin-top: 20px;
}

.studentAnswer {
  font-family: "Comic Sans MS";
}

.correctAnswer {

}

.notes {
  margin-top: 20px;
  background: #FFFFD0;
  border: 1px solid rgba(#000, 0.2);
  box-shadow: 0 5px 10px rgba(#000, 0.2);
  padding: 10px;
}
