.bubbles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bubble {
  background: #E6EAEB;
  border-radius: 10px;
  padding: 12px;

  &.user {
    background: #0080FF;
    color: #FFFFFF;
    align-self: flex-end;
  }

  &.system {
    background: #D42626;
    color: #FFFFFF;
  }
}

.bubble + .bubble {
  margin-top: 16px;
}
